:root {
    --bg-primary: #0f172a;
    --text-primary: #ffffff;
    --text-secondary: #cbd5f5;
    --text-light: #e5e7eb;
    --primary-main: #38bdf8;
    --border-color: #334155;
    --primary-dark: #ffffff;
}  

